body {
	background-color: #ebf0fa;
	text-align: center;
	color: #333;
}

p {
	font-family: AmericanTypewriter;
}

h1, h2, h3, h4, h5, h6 {
	font-family: AmericanTypewriter;
}
.row {}
.panel {}
.picture-container {}
img#picture {}
.arrow-container {}
.arrow {}
div#prev {}
div#next {}
table.calendar tr {
	margin-bottom: 1.2em;
	border-border: 1px solid #666;
}
.calendar-display {}
.calendar-scroll {}
.month {}
#jan {}
#feb {}
#mar {}
#apr {}
#may {}
#jun {}
#jul {}
#aug {}
#sep {}
#oct {}
#nov {}
#dec {}
.calendar-list li {}